.chart-pane {
    -fx-background-color: #CFD6AA;
    -fx-background-radius: 25;
    -fx-text-fill: #143403;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 6,0.3, 4, 4);
}